html,body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI','Chrome Droid Sans','Droid Sans Fallback','Lucida Grande','Tahoma',sans-serif;
  background-color: #F9F9FA;
}
.popup-wrapper {
  min-width: 340px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.header {
  background-color: #1AB759;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: #E8E8E8;
}

.header .text {
  margin-right: 5px;
  color: #ffff;
}

.sub-heading {
  padding: 5px;
  margin-left: 5px;
  color: #25282B;
}

.rule-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #25282B;
  font-size: 16px;
  padding: 10px 0;
}

.rule-input {
  margin: 8px 0;
  text-align:center
}

.rule-input input {
  font-size: 20px;
  width: 45px;
  padding-left: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(26, 183, 89, 0.8);
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.examples-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  color: #52575C;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.strong {
  color: #25282B;
  font-weight: 600;
}

.footer-btns {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}

.footer-btn-group {
  display: flex;
}

.footer-btn {
 padding: 5px 10px;
 font-size: 16px;
 border: 2px solid #DBDDE0;
 border-radius: 3px;
 color: #52575C;
 background: linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 247, 249) 100%);
 box-shadow: rgba(24, 50, 71, 0.05) 0px 1px 0px 0px;
 cursor: pointer;
}

.pause-btn {
  /* border-top-right-radius: 0; */
  /* border-bottom-right-radius: 0; */
}

.more-btn {
  margin-left: 5px;
}

.more-btn .dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn svg {
  margin-left: 5px;
}

.footer-btn-extra {
  border: 2px solid #DBDDE0;
  border-left: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(245, 247, 249) 100%);
  box-shadow: rgba(24, 50, 71, 0.05) 0px 1px 0px 0px;
}

.footer-btn:hover {
  color: #25282B;
  background: rgb(245, 247, 249);
}

.refresh {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* transition: .4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  /* transition: .4s; */
}

input:checked + .slider {
  background-color: #1AB759;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1AB759;
}

input:checked + .slider:before {
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* switch css end */

/* dropdown css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 3px;
  bottom: 30px;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* dropdown css end */

.no-support-wrapper {
  padding: 15px;
}