html,body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI','Chrome Droid Sans','Droid Sans Fallback','Lucida Grande','Tahoma',sans-serif;
}
.popup-wrapper {
  background-color: #F9F9FA;
  min-width: 340px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.header {
  background-color: #1AB759;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: #E8E8E8;
}

.header .text {
  margin-right: 5px;
}

.sub-heading {
  padding: 5px;
  margin-left: 5px;
  color: #25282B;
}

.rule-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #25282B;
  font-size: 16px;
  padding: 10px 0;
}

.rule-input {
  margin: 8px 0;
  text-align:center
}

.rule-input input {
  font-size: 20px;
  width: 45px;
  padding-left: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(26, 183, 89, 0.8);
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.examples-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  color: #52575C;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.strong {
  color: #25282B;
  font-weight: 600;
}


.footer-btns {
  display: flex;
}

.footer-btn {
  flex: 1;
  outline: none;
  border: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #52575C;
  cursor: pointer;
}

.footer-btn svg {
  margin-right: 5px;
  fill: #52575C;
}

.footer-btn:hover {
  color: #25282B;
}

.footer-btn:hover svg {
  fill: #25282B;
}

.border-right {
  border-right: 1px solid #CACCCF;
}

.refresh {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* transition: .4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  /* transition: .4s; */
}

input:checked + .slider {
  background-color: #1AB759;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1AB759;
}

input:checked + .slider:before {
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* switch css end */